# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
/public/data/custom.json
/public/data/docs_to_index.json
/public/data/teams.json


# Docker
Dockerfile
docker-compose.yml
