# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# app data
/data/custom.json
/data/docs_to_index.json
/data/teams.json

# Docker
Dockerfile
docker-compose.yml
