<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="app" style="margin-top: -20px;">
<div class="jumbotron text-center">
  <div class="container">
    <h2>Student Opportunity Search Index Generator</h2>
    <p>Creates a search index of websites within Student Opportunity. Uses the Warwick search API to get first result
      for given keyword search. Outputs a json file to be uploaded to Sitebuilder for use with <a href="https://github.com/nextapps-de/flexsearch">FlexSearch.js </a>a client side search framework.</p>

    </a>
    <button type="button" class="btn btn-lg btn-default" v-on:click="createIndex" ><span
        class="glyphicon glyphicon-flash"></span>Create new index</button>
    <a type="button" class="btn btn-lg btn-primary" href="/data/docs_to_index.json"><span class="glyphicon glyphicon-download"></span> Download index</a>
  </div>
  
</div>
<div class="container">

  <div class="alert alert-info text-center" v-if="message" role="alert">
    {{ message }}
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>Polls Warwick search API using url prefixes and keywords list.</li>
        <li>Generated initial array of objects <code>{id, title, url, keywords} </code> </li>
        <li>Allows over riding of array object if neccessary base on keyword</li>
        <li>Writes final results to a json file for use with frontend search library FlexSearch.js</li>
      </ul>
    </div>
    <div class="col-md-6 course-search">
      <h3><span class="glyphicon glyphicon-link"></span>Test out search keywords </h3>
    <!-- autocomplete search box-->

      <input type="text" id="autocomplete">
      <input type="text" id="userinput" placeholder="Search by keyword etc..">

      <div id="suggestions"></div>

     <!-- --> 
    </div>
  </div> <!-- row -->
  
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/vue-code.js"></script>
<script src="/js/flexsearch.compact.js"></script>
<script src="/js/autocomplete.js"></script>
</body>
</html>
<!--  -->