<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="app" style="margin-top: -20px;">
<div class="jumbotron text-center">
  <div class="container">
    <h2>Student Opportunity Search Index Generator</h2>
    <p>Creates a search index of websites within Student Opportunity. Uses the Warwick search API to get first result
      for given keyword search. Outputs a json file to be uploaded to Sitebuilder for use with <a href="https://github.com/nextapps-de/flexsearch">FlexSearch.js </a>a client side search framework.</p>

    </a>
    <button type="button" class="btn btn-lg btn-default" v-on:click="createIndex" ><span
        class="glyphicon glyphicon-flash"></span>Create new index</button>
    <a type="button" class="btn btn-lg btn-primary" href="/data/docs_to_index.json"><span class="glyphicon glyphicon-download"></span> Download index</a>
  </div>
  
</div>
<div class="container">

  <div class="alert alert-info text-center" v-if="message" role="alert">
    {{ message }}
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Introduction</h3>
      <ul style="font-size: 18px; ">
        <li>The search index is updated once a week.</li>
        <li>Click download to get the most upto date version
        </li>

      </ul>

      <h3>Editing default</h3>
      <ol style="font-size: 18px; ">
         <li>Check keywords appear in search auto suggest (on right).</li>
         <li>If not. 'Admin' > 'Edit Default Keywords'. Add new keywords for a team. Click save.
         </li>
        <li>Refresh the homepage!! - Type in newly added keyword(s) to see results.</li>
        <li>Press 'Download index' to get the JSON file to add to Sitebuilder</li>
        
      </ol>

      <h3>Adding customising keywords</h3>

      <ol style="font-size: 18px; ">
        <li>Custom keywords can be specified in 'Admin' > 'Edit custom keywords list' </li>
        <li>For each keyword specified in this list the default result will be over-ridden, with the supplied url and title.</li>
        <li>After adding or editing these custom keywords press save. </li>
        <li>Return to the homepage, refresh page and test auto-complete</li>
      </ol>
    </div>
    <div class="col-md-6 course-search">
      <h3><span class="glyphicon glyphicon-link"></span> Search auto suggest</h3>
    <!-- autocomplete search box-->

      <input type="text" id="autocomplete">
      <input type="text" id="userinput" placeholder="Search by keyword etc..">

      <div id="suggestions"></div>

     <!-- --> 
    </div>
  </div> <!-- row -->
  
</div>
</div>
<% include ../partials/footer.ejs %>
<script src="/js/flexsearch.compact.js"></script>
<script src="/js/autocomplete.js"></script>
</body>
</html>
<!--  -->